[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/Vimux/Mainroad
[submodule "hugo-theme-techdoc"]
	path = hugo-theme-techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc
